RewriteEngine On
RewriteRule ^/cgi/list$ /index.php/cgi/listsheep [L]
RewriteRule ^/cgi/list[\?/](.*)$ /index.php/cgi/listsheep/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
