body {
    background: #9dbde1 url(http://www.tinymvc.com/images/bg-gradient.gif) top repeat-x;
    color: #666666;
    font-family: arial,sans;
    font-size: 100%;
    line-height: 1.7em;
    margin: 0 auto;
    text-align: center;
    width: 600px;
}

table.setupform th {
    text-align: right;
}

table.setupform td {
    text-align: left;
}

table.setupform input[type="text"] {
    width: 100%;
}