* {
    border: none;
    padding: 0;
    margin: 0;
}

body {
    background: #9dbde1 url(/images/bg-gradient.gif) top repeat-x;
    color: #666666;
    font-family: arial,sans;
    font-size: 100%;
    line-height: 1.7em;
    margin: 0 auto;
    width: 750px;
    text-align: center;
}

table.statistics {
    border: 1px solid black;
}

table.statistics td {
    padding-left: 5px;
    padding-right: 5px;
}

td.icon {
    white-space: nowrap;
}

table.frame {
      display: block;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
}

table.frame th {
    text-align: right;
    padding-right: 2px;
}

table.frame td {
    text-align: left;
    padding-left: 2px;
}

table.setupform input[type="text"] {
    width: 100%;
}

pre {
    text-align: left;
    line-height: 1em;
    border: 1px dashed; #666666;
    background-color: white;
    padding: 10px;
    font-size: 90%;
    overflow: scroll;
}

.success {
    color: green;
    font-weight: bold;
}

.failed {
    color: red;
    font-weight: bold;
}

.button {
    text-decoration: none;
    color: black;
    font-size: 10pt;
    padding: 5px;
    background-color: #9e9e9e;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

div.setup_test {
    padding: 10px;
    border-bottom: 1px solid #666666;
}

img.thumbnail {
    padding: 2px;
    vertical-align: middle;
}

img.edgefirst {
    padding-right: 0;
}

img.edgelast {
    padding-left: 0;
}

.navigation {
    display: table;
    margin: 3px auto;
    background-color: white;
    border: 1px solid blue;
}

#mainmenu li, #submenu li {
    padding: 5px;
    padding-right: 15px;
    list-style-type: none;
    float: left;
}

#mainmenu li.first, #submenu li.first {
    padding-left: 15px;
}

a {
    white-space: nowrap;
}

.clr {
    clear: both;
}